body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.card {
  width: 300px;
  margin: 80px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
}

input, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}